# dependencies
node_modules/

# env files
.env
.env.*
frontend/.env.local
backend/.env

# next.js
.next/
out/

# build files
dist/
build/

# logs
logs/
*.log

# typescript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
